extend ../Layout.pug

//- block header
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  #app.wrapper
    //- clinic-item(:clinic-data="clinicData")
    .select-box
      select.select-item(v-model="areaSelected")
        option(value="") 選擇區域
        option(v-for="area in areaList", :value="area") {{ area }}
      select.select-item(v-model="doctorSelected")
        option(value="") 選擇醫生
        option(v-for="doctor in doctorList", :value="doctor") {{ doctor }}
    .main
      //- .clinic-box
        .title
          | 目前距離您最近的診所為：
          span.highlight 忠孝診所
        .clinic-item
          .pic-container
            .pic-show
              .pic
            .pic-box
              .pic-item.active
                .pic
              .pic-item
                .pic
              .pic-item
                .pic
              .pic-item
                .pic
          .information-container
            .clinic-name 診所
            .sub-title 營業時間：
            .info 週一～五 9:00-21:00 週六 9:30-18:30
            .sub-title 聯絡電話：
            .info 0987654321
            .sub-title 服務地址：
            .info XXXXXXXXXX
      .clinic-box
        .title(v-if="areaSelected != '' || doctorSelected != ''")
          | 您選擇的
          span.highlight {{ areaSelected }}
          span.highlight(v-if="areaSelected != '' && doctorSelected != ''") 、
          span.highlight(v-if="doctorSelected != ''") {{ doctorSelected }}醫師
          | 的診所如下：
        .clinic-item(v-for="clinic in clinicList")
          .pic-container
            .pic-show
              .pic(
                :style="`background-image:url('${clinic.imgList[clinic.imgIndex]}')`"
              )
            .pic-box
              .pic-item(
                v-for="(img, index) in clinic.imgList",
                @click="clinic.imgIndex = index",
                :class="{ active: index == clinic.imgIndex }"
              )
                .pic(:style="`background-image:url('${img}')`")
          .information-container
            .clinic-name {{ clinic.name }}
            .sub-title 營業時間：
            .info(v-for="time in clinic.BusinessHours") {{ time }}
            .sub-title 聯絡電話：
            .info {{ clinic.phone }}
            .sub-title 服務地址：
            a.info(
              :href="`https://www.google.com.tw/maps/place/${clinic.address}`",
              target="_blank"
            ) {{ clinic.address }}

  

